<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Logs</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%=title%></h1>
          <div><%=moment().format('MMMM Do YYYY, h:mm:ss a'); %></div>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>Event date</th>
                  <th>Received at</th>
                  <th>Sensit ID</th>
                  <th>Sensor ID</th>
                  <th>Sensor type</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                
                <% entries.forEach(function(entry){%>
                  <tr>
                    <td><%=entry.date ? moment(entry.date).fromNow() : 'N/A'%></td>
                    <td><%=entry.receivedat ? moment(entry.received_at).fromNow() : 'N/A'%></td>
                    <td><%=entry.deviceid;%></td>
                    <td><%=entry.sensorid;%></td>
                    <td><%=entry.type;%></td>
                    <td><%=entry.value;%></td>
                  </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
